.logo-2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-white);
  cursor: pointer;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem;
}

.button-nav {
  margin-left: 2rem;
}